<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ninR-137 YTMP3</title>
</head>
<body>
	<form action="/" method="POST" >
		<div>
			<input type="text" name="ytlink" id="ytlink" placeholder="Place URL here" required>
			<input type="text" name="vidName" id="vidName" placeholder="Song name" required>
			<button type="submit">Submit Link</button>
		</div>
	</form>
</body>
</html>